
.video-container {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

h3, h2, h5, .back {
    text-align: center;
    font-family: 'Roboto';
}

.back {
    display: block;
    margin: 30px auto;
}

.nav-button {
    font-size: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
}
